.alignfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;    
}

@media (width < 600px) {
    footer {
        height: fit-content;
    }
    .alignfooter {
        flex-direction: column;
        height: 40vh;
    }
}