
/* ---------- start bilde-slideshow ----------  */


/* ---------- slutt bilde-slideshow ----------  */

/*-- Knapp for reservasjon ---*/
.reservereknapp {
    text-align: center;
    border: 1px solid var(--orange);
    padding: 20px;
    display: block;
    margin: 3vw;
    color: var(--orange);
    width: 250px;
}

#knappReservasjon {
    display: flex;
    justify-content: center;
}

/*-- Slutt knapp for reservasjon ---*/


/* ----- Utility variabler ------------ */

:root {
    --orange: #DE855E;
    --yellow: #F3CFB4;
    --black: #12121212;
    --dark-grey: #1E1E1E;
    --grey: #222222;
}

/* ----- Ending utility variabler ----- */