
/*-- Tekst øvsert på siden ----*/
h1 {
    color: var(--yellow)
}

#bookingInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bookingInfo p{
    color: var(--yellow);
}
/*-- Slutt tekst øvsert på siden ----*/