/*-- Knapp for reservasjon ---*/
.reservereknapp {
    text-align: center;
    border: 1px solid var(--orange);
    padding: 20px;
    display: block;
    margin: 3vw;
    color: var(--orange);
    width: 250px;
    cursor: pointer;
}
#knappReservasjon{
    display: flex;
    justify-content: center;
}
/*-- Slutt knapp for reservasjon ---*/

/*-- Tekst øvsert på siden ----*/
h1 {
    color: var(--yellow)
}

#bookingInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bookingInfo p{
    color: var(--yellow);
}

.banner{
    position: fixed;
    z-index: 0;
    top: 50px;
    bottom: 575px;
    left: 0;
    width: 100%;
    display: none;
}
.banner h1{
    text-align: center;
    cursor: pointer;
}
#checkBooking{
    display: none;
}

#checkBooking:checked+.banner{
    display: flex;
    background: rgb(18,18,18, 0.75);
}

/*-- Slutt tekst øvsert på siden ----*/

