/*-- Tekst øvsert på siden ----*/
h1 {
    color: var(--orange)
}

#bookingInfo {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bookingInfo p {
    padding-top: 10px;
    color: var(--yellow);
}


/*-- Slutt tekst øvsert på siden ----*/