/*--------Generelt for siden meny, Burde legges inn i sitewide--------*/
h1 {
    color: var(--yellow);
    padding: 30px;
}

h2 {
    padding: 40px 20px 20px 20px;
}

ul {
    list-style: none;
    color: var(--yellow)
}

i {
    color: var(--yellow)
}


/*--------CSS Bilde/Menyvelger topp--------*/
.meny_container {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-grey);
    justify-content: center;
}

.menyknapp {
    text-align: center;
    border: 1px solid var(--orange);
    padding: 20px;
    display: block;
    margin: 3vw;
    color: var(--orange);
    scroll-behavior: smooth;
    transition: .3s;
}

.menyknapp:hover {
    background-color: var(--orange);
    color: var(--yellow);
    scale: 105%;
    box-shadow: 3px 5px 15px var(--darkest-grey);
}
/*--------CSS Bilde/Menyvelger topp end--------*/


/*--------CSS Kafe meny--------*/
.alignKafemeny {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    color: var(--yellow);
}

.boxKafemeny {
    text-align: center;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    flex: 1;
}

 .alignKafemeny h1 {
    color: var(--orange)
}

.alignKafemeny h1 {
    color: var(--orange)
}

#kafemeny {
    text-align: center;
    margin: 100px 0px 30px 0px;
    scroll-margin-top: 90px;
 }
/*--------CSS Kafe meny end--------*/


/*--------CSS meny--------*/
#cateringmeny {
    text-align: center;
    margin: 50px 0px 50px 0px;
    scroll-margin-top: 90px;
}

.alignCatering {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%
}

.boxmeny {
    text-align: center;
    border: 1px solid #F3CFB4;
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.boxmeny h1 {
    color: var(--orange);
}

.boxmeny h2 {
    color: var(--yellow);
    padding: 50px 20px 20px 20px;
}

.boxmeny h3 {
    color: var(--yellow)
}

.boxmeny p {
    color: var(--yellow)
}

/*--------CSS Catering meny end--------*/


/*--------Visning----------------------*/
@media(max-width: 1250px) {
    .alignCatering {
        flex-direction: column;
    }
}

@media(max-width: 1000px) {
    .alignKafemeny {
        flex-direction: column;
    }
}
/*--------Visning end-------------------*/