/* ----- General ------------ */

:root {
    background-color: var(--grey);
    padding: 0;
    margin: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* ----- Ending general ----- */

/* ----- General ------------ */


/* ----- Ending general ----- */

/* ----- Navbar ------------ */

/* ----- Ending navbar ----- */


/* ----- Footer ------------ */

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: var(--yellow);
}

.footer-row {
    display: flex;
    padding: 0px 0px 6% 0px;
    margin: 4% 10%;
}

.opening-information {
    flex: 3 1 auto;
}

footer h4 {
    /* justeres etter variabel */
}

.footer-contact {
    flex: 3 1 auto;
}

.social-media {
    display: flex;
    margin-top: 7px;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 auto;
}

footer .tripadvisor {
    height: 40px;
}

footer .facebook {
    height: 45px;
}

footer .instagram {
    height: 52px;
}

.footer-logo {
    padding-bottom: 8%;
    display: flex;
    justify-content: center;
}

/* ----- Ending footer ----- */


/* ----- Utility variabler ------------ */

:root {
    --orange: #DE855E;
    --yellow: #F3CFB4;
    --black: #12121212;
    --dark-grey: #1E1E1E;
    --grey: #222222;
}

/* ----- Ending utility variabler ----- */