/* ----- General ------------ */
html {
    scroll-snap-type: y mandatory;

    scroll-behavior: smooth;
}

@-moz-document url-prefix() {
    html {
        scroll-snap-type: none;

        scroll-behavior: smooth;
    }
}

body {
    background: linear-gradient(rgba(119, 180, 255, 0.2), rgba(41, 27, 113, 0.3));
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 999;
}

h2 {
    color: var(--accent);
}

p {
    color: var(--primary);
    font-size: var(--fs-primary);
}

/* Logo font */
@font-face {
    font-family: Despairs;
    src: url(/Fonts/Despairs-X3Wxo.ttf);
}

/* Title font */
@font-face {
    font-family: OriginTech;
    src: url(/Fonts/OriginTech_personal_use.ttf);
}

@font-face {
    font-family: Ghostlike;
    src: url(/Fonts/GhostlikeDemoOutline.ttf);
}



/* ----- Header ------------ */
.nav-wrapper {
    display: flex;
    margin: 0 4vw;
    color: var(--primary);
    scroll-snap-align: start;
}

.tech-logo {
    width: 50%;
    font-size: 1.8rem;
    font-family: Despairs;
    align-self: center;
    color: var(--accent);
}

.tech-nav {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 3px;
    gap: 2vw;
    text-transform: uppercase;
    z-index: 2;
}

.tech-nav li {
    transition: .3s;
}

.tech-nav :nth-child(5) {
    background-color: var(--accent);
    padding: 8px 2vw;
    border-radius: 20px;
    color: white;
}

.tech-nav :not(:last-child):hover {
    color: var(--accent);
    scale: 105%;
}

.tech-nav :nth-child(5):hover {
    scale: 105%;
    background-color: var(--accent-hover);
}

/* ----- Ending header ----- */


/* ----- Hero ------------ */
.hero-section {
    position: relative;
    top: 0;
    height: 100vh;
}

.hero-image-wrapper {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.hero-image-wrapper img {
    height: 85vh;
    opacity: .8;
    overflow: hidden;
    opacity: 0;

    /* Redigert kode fra https: //www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */
    animation: fadeInAnimation ease 2.5s;
    animation-delay: .1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hero-text-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-transform: uppercase;
    font-family: OriginTech;
    letter-spacing: 10px;
    text-align: center;
    color: var(--title);
    line-height: 8px;

    padding: 3vw 8vw;

    background-color: var(--hero-card);
    box-shadow: 0 2px 15px rgb(0, 0, 0, .3);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    opacity: 0;

    transition: .3s;

    /* Redigert kode fra https: //www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */
    animation: fadeInAnimation ease 2s;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* kode fra https: //www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero-text:hover {
    background-color: var(--hero-card-hover);
    scale: 110%;
    color: var(--title-hover);
    text-shadow: 0 0 10px rgba(159, 140, 255, 0.4);
    box-shadow: 10px 20px 60px rgb(0, 0, 0, .4);
}

.top-smaller-text {
    font-size: calc(var(--fs-big-title)/1.8);
}

.bottom-larger-text {
    font-size: var(--fs-big-title);
}

.svg-scrolldown {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 90%;
    opacity: 0;

    animation: fadeInAnimation 2s ease 3s 1 forwards;
}

.svg-scrolldown-left {
    left: 2%;
}

.svg-scrolldown-right {
    right: 2%;
}

.scrolldown-top {
    animation: move-down 3.5s ease-in-out 3.0s infinite;
}

.scrolldown-bottom {
    animation: move-down 3.5s ease-in-out 3.6s infinite;
}

@keyframes move-down {
    0% {
        opacity: .8;
    }

    40% {
        opacity: 0;
        transform: translateY(60px);
    }

    80% {
        transform: translateY(-40px);
        opacity: 0;
    }

    90% {
        opacity: .3;
    }

    100% {
        opacity: .8;
    }
}

/* ----- Ending hero ----- */

/* ----- Main text ------------ */
.text-section-wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 4vw;
    gap: 3vw;

    scroll-snap-align: start;
}

.text-card {
    padding: 3vw;
    border-radius: 25px;
    z-index: 1;
    background-color: var(--card-background);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.276);
    transition: .3s;
}

.text-card:hover {
    scale: 115%;
    z-index: 2;
    background-color: var(--card-background-hover);
    backdrop-filter: blur(5px);
}

.card-1:hover {
    transform: translateX(10vw);
    box-shadow: -50px 15px 30px rgba(0, 0, 0, 0.15);
}

.card-2:hover {
    transform: translateX(-10vw);
    box-shadow: 50px 15px 30px rgba(0, 0, 0, 0.15);
}

.text-card h2 {
    color: var(--card-header);
    font-size: 1.5vw;
}

.text-background-image {
    position: absolute;
    width: 100vw;
    max-height: 100vh;
    opacity: .6;
    filter: blur(3px);
    left: 0;
    z-index: -1;
}

/* ----- Ending main text ----- */

/* ----- Link cards ----------- */

/* Add links (if there are none). This text should have multiple links to external sites with 
relevant information. We shall not grade you on how relevant the information you link to is, 
but we expect several links, and we expect it to be easy to understand before clicking what 
information you lead us to.  */

.links-section-wrapper {
    height: 100vh;
    position: relative;
}

.text-background-image-2 {
    position: absolute;
    width: 100vw;
    max-height: 100vh;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: .5;
}

/* ----- Ending link cards ----- */


/* ----- Footer ------------ */
footer {
    height: 0;
    background-color: rgba(255, 85, 113, 0.1);
    scroll-snap-align: end;
}

/* ----- Ending footer ----- */

/* ----- Media queries ------------ */
@media (max-width: 880px) {}

/* ----- Ending media queries ----- */

/* ----- Variabler ------------ */
:root {
    /* --background: #121212; */
    --primary: #000000;
    --accent: #aa65ff;
    --accent-hover: #7c13fc;
    --title: #c6cdff;
    --title-hover: #c7ceff;
    --hero-card: #22222273;
    --hero-card-hover: #22222290;
    --scrolldown-stroke: rgba(73, 5, 103, 0.365);
    --card-background: #ffffff53;
    --card-background-hover: #ffffffcb;
    --card-header: #7f16ff;


    --fs-big-title: 3.5rem;
    --fs-primary: 1rem;
}

/* ----- Ending variabler ----- */